redirect 301 /about-us 		/what-we-do
redirect 301 /our-space 	/what-we-do
redirect 301 /view-our-space-film-television-adr /what-we-do
redirect 301 /casting-page	/sidecar
redirect 301 /filmtv-series	/work
redirect 301 /home		/work
redirect 301 /interactive	/work
redirect 301 /radio 		/work
redirect 301 /sound-design 	/work
redirect 301 /tv-spots 		/work

<IfModule mod_rewrite.c>
# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]

# Include in the next line all folders to exclude
RewriteCond %{REQUEST_URI}  !(sl|folder2|folder3) [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# END WordPress
</IfModule>

