$gray: #f4f4f4;
$green: #73c640;
$blue: #21dcfe;
$pink: #fe3485;
$purple: #dc39fa;
$orange: #f7901e;

.gray {
	color: $gray;
}
.green {
	color: $green;
}
.blue  {
	color: $blue;
}
.pink {
	color: $pink;
}
.purple {
	color: $purple;
}