footer {

	margin: 40px 0 40px;

	h6 {

		font-size: 1em;
		margin-bottom: 20px;
	}

	ul {

		margin-left: 0 !important;

		li {

			list-style: none;
		}
	}

	.horiz-social-row {

		margin: 40px 0 40px;
	}
}