.page-home { 

	.navigation {

		position: absolute;
	}

	main {

		padding-top: 0;
	}

	section {

		border-top: 2px solid $green;
		margin-top: 40px;
		padding-top: 40px;
	}

	h2 {

		font-size: 3.125rem;


	}

	.image-container {

		position: relative;
	}

	.button {

		bottom: 20%;
		display: block;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
		width: 180px; 
		z-index: 3;
	}

}	