.page-home {

	background-color: black;

	.navigation {

		display: none;
	}

	main {

		border: none;
		margin: 0;		
		padding: 0;
		position: relative;
		z-index: 1;
		height: 100%;
		width: 100%;

		&::before, &::after {

			border: none;
			position: relative !important;
		}
	}

	section {

		margin: 0;
	}

	img {

		position:absolute;
		top: 0;
		left: 0;
		right:0;
		bottom: 0;
		margin: auto;
		z-index: 2;
	}


	.image-container {


	    
	}

	@media (min-width: 1024px) { 

		.image-container {

			display: block;
			height: 140%;
		    left: -24%;
		    position: fixed;
		    top: -22%;
		    width: 140%;
		    
		}
	}

	@media (min-width: 1152px) { 

		.image-container {

			display: block;
			height: 120%;
		    left: -12%;
		    position: fixed;
		    top: -11%;
		    width: 120%;
		    
		}
	}

	@media (min-width: 1280px) { 

		

		.image-container {

			height: 100%;
		    left: 0;
		    position: fixed;
		    top: 0%;
		    width: 100%;
		}
	}

	.button {

		bottom: 20%;
		display: block;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
		width: 180px; 
		z-index: 3;
	}

	footer {

		display: none;
	}
}