.navigation {
	
	@media (min-width: 769px) { 
		border-bottom: 2px solid $green;
	}

	img.logo {

		width: 50%;

		@media (min-width: 640px) {
			width: 35%;
		}

		@media (min-width: 768px) {
			width: 30%;
		}

		@media (min-width: 1024px) {
			width: 50%;
		}
	}

	ul {

		padding: 0;
		margin: 0;
		list-style: none;
	}

	.top-bar-section {

		li {

			letter-spacing: 0.56em;
			border-bottom: 1px solid $green;
			position: relative;
			text-align: right;
			padding-right: 20px;

			@media (min-width: 769px) {
				border-bottom: none;
				padding-right: 0;
			}

			a {
				@media (min-width: 1024px) {
					padding: 0 16px !important;
				}
			}

			&:hover {

				font-style: italic;
			}
			
			&.active {

				font-style: italic;

				@media (min-width: 768px) {
					@include border-bottom;
				}
			}
		}
	}
}