//Colors

$black: #000;
$gray: #f4f4f4;
$green: #73c640;
$blue: #21dcfe;
$pink: #fe3485;
$purple: #dc39fa;

.gray {
	color: #f4f4f4;
}
.green {
	color: #73c640;
}
.blue  {
	color: #21dcfe;
}
.pink {
	color: #fe3485;
}
.purple {
	color: #dc39fa;
}