.select {
    
    background: transparent url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
    overflow: hidden;
    height: 40px;
    background-color: $gray;        
}

select {
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    padding: 0 0 0 35%;
    font-size: 14px;

}

select:focus {
    outline: none;
}

select option {

    background: transparent;
}

label {

    font-size: rem-calc(12);
    text-transform: uppercase;
}

input[type="text"] {

    width: 100%;
}

input[type="submit"] {

    @include button;
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: auto;
    font-family: Raleway-Medium,sans-serif;
    font-size: 10px;
    letter-spacing: 0.56em;
    line-height: 1.5;
    padding: 0.625rem 1.25rem 0.6875rem;
    width: 100%;

    &:hover {

        color: black;
    }

    @media (min-width: 480px) {
        width: auto;
    }



}

.hs-form fieldset {

    margin: 0 auto !important;
}

.hs-form fieldset.form-columns-1 .hs-input {

    width: 100% !important;
}

.actions {
 
    text-align: center;
}