.page-home {

	.navigation {

		display: none;
	}

	main {

		border: none;
		margin: 0;		
		padding: 0;
		position: relative;
		z-index: 1;
		height: 100%;
		width: 100%;

		&::before, &::after {

			border: none;
			position: relative !important;
		}
	}

	section {

		margin: 0;

	}

	.image-container {

		height: 200%;
	    left: -55%;
	    position: fixed;
	    top: -50%;
	    width: 200%;
	}

	@media (min-width: 1024px) { 

		.image-container {

			height: 150%;
		    left: -30%;
		    position: fixed;
		    top: -25%;
		    width: 150%;
		}
	}

	@media (min-width: 1280px) { 

		.image-container {

			height: 200%;
		    left: -55%;
		    position: fixed;
		    top: -25%;
		    width: 200%;
		}
	}

	img {

		position:absolute;
		top: 0;
		left: 0;
		right:0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
		z-index: 2;
	}

	.button {

		display: block;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 20%;
		z-index: 3;
		width: 180px; 
	}

	footer {

		display: none;
	}
}