// could be mixin

main {

	@include border-bottom;

	border-bottom: 2px solid $green;
	padding-top: 40px;
	position: relative;

	section {

		margin-bottom: 40px;
	}
}

.button {

	text-transform: uppercase;

	&:hover {

		color: black;
	}

	&.tiny {

		font-size: 10px;
	}

	&.alert:hover, &.alert:focus, &.alert:hover, &.alert:focus {

		color: black;
	}

	&.secondary {

		color: black;

		&:hover {

			color: white;
		}
	}
}

.row-full {

	width: 100%;
	@media (min-width: 769px) { width: auto; }
}

//CONTACT

a .contact-email  {

	color: black;
	font-size: rem-calc(12);
}

.contact-page {

	h3 {

		margin-bottom: 10px;
	}


	.alert-box {

		background-color: $green;
		border: none;
		
		h5 {

			color: white;
		}

		a.close, a.close:hover {

			color: white;
			opacity: 1;
		}
	}


}

.contact-social {

	height: 40px;
	overflow: hidden;

	span {

		float: left;
	}
}

.principals-row {

	margin-top: 20px;

	& > div {

		padding-bottom: 20px;
	}

	span {

		display: block;
	}
}

.form-row {

	margin: 45px auto 70px !important;

	> div {
			
		background-color: $gray;
	}

	.fields-row {

		padding-bottom: 20px;
		padding-top: 20px;

		h3 {

			margin-bottom: 20px;
		}
	}
}

// To fix chrome tab outtine
dd > a.active{

	border: none;
}

iframe {
    
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.google-maps {
    
    position: relative;
    padding-bottom: 0; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    float: none;

    @media (min-width: 1024px) {

		padding-bottom: 45%;
	}

    iframe {

    	position: relative;

    	@media (min-width: 1024px) {

    		position: absolute;
    	}
    }

}

.video-wrapper {
	
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

small.sharify-text {

	line-height: 35px;
	margin-right: 10px;
	display: block;

	@media (min-width: 768px) {
		display: inline;
	}	

}

.sharify-container {

	display: inline;
	padding: 0;


	ul {

		width: auto;

		@media (min-width: 768px) {
			float: right;
		}
		

		li {
			
			width: 40px !important
		}
	}
}