@mixin zoom($zoom) {

	//zoom :$zoom;
    -moz-transform:scale($zoom, $zoom);
    -moz-transform-origin: 0 0;
    -ms-transform: scale($zoom);
    -ms-transform-origin: 0 0;
    transform: scale($zoom);
    transform-origin: 0 0;
	-webkit-transform: scale($zoom);
	transform: scale($zoom);

}

@mixin border-bottom {

	&:before,
	&:after {

		position: absolute;
		bottom: -6px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 20px;
		height: 6px;
		content: "";
	}

	&:before {
		border-top: 2px solid white;
	}

	&:after {
		border-left: 2px solid $green;
		border-right: 2px solid $green;
	}
}

@mixin flexbox($align,$justify){
	
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: $align;
	-webkit-align-items: $align;
	justify-content: $justify;
	-webkit-justify-content: $justify;
}