.list, .list-green, .mail, .mail-blue, .share-blue, .share, .social-facebook, .social-facebook-blue, .social-instagram, .social-instagram-blue, .social-linkedin, .social-linkedin-blue, .social-twitter, .social-twitter-blue, .x, .x-green, .Slide_Left_grey, .Slide_Left_white, .Slide_Right_grey, .Slide_Right_white,

.arrow-icon,
.close-icon,
.email-icon,
.plus-icon,
 {
	background: url(../images/sprites.png) no-repeat;
}

.icon-container {

	height: 40px;
	width: 40px;
	overflow: hidden;
	display: inline-block;

	&-20 {

		height: 20px;
		width: 20px;
	}
}

.social-row > div {

	height: 80px;
	overflow: hidden;
}

.icon {

	height: 200px;
    width: 200px;
    display: inline-block;
}

.icon:hover {

	cursor: pointer;
}

.arrow-icon {

	background-position: -600px 0;
	&:hover {
		background-position: -600px -200px;
	}	

	@include zoom(0.20);
}

.close-icon {

	background-position: -1600px 0;
	&:hover {
		background-position: -1600px -200px;
	}	

	@include zoom(0.10);
}

.email-icon {
	
	background-position: -200px 0;
	&:hover {
		background-position: -200px -200px;
	}
}

.plus-icon {
	
	background-position: -400px 0;
	&:hover {
		//background-position: -400px -200px;
	}
}

.email-icon-container,
.plus-icon-container {	

	position: relative;
	height: 40px;
	margin: 0;
	overflow: hidden;

	.icon-container {

		display: inline;
	}

	.text {

		line-height: 1;
		position: absolute;

		margin-left: 30px;
		@media (min-width: 480px) { margin-left: 40px; }
		
		&-40 {

			font-size: 1em;
			line-height: 17px;
			//margin-left: 50px;			
			margin-left: 30px;			
		}

	} 

	.icon { 

		position: absolute;

		&.email-icon {
		
			@include zoom(0.10);
			@media (min-width: 480px) { @include zoom(0.10); }

			&-40 {

				//@include zoom(0.2);
				@include zoom(0.1);
			}
		}
		&.plus-icon {

			@include zoom(0.05);
		}
	}
}

.plus-icon-container {

	height: 45px;
	overflow: hidden;
	

	.text {

		font-size: .75em;
		line-height: 20px;
		margin: -5px 0 0 20px;
	}
}

.social-icon {	    

	@include zoom(0.10);
	/*@media (min-width: 768px) {
    	@include zoom(0.20);
    }
    */
}

.social-icon {	    

	@include zoom(0.10);
	/*@media (min-width: 768px) {
    	@include zoom(0.20);
    }
    */
}

.social {

	&-facebook {
		background-position: -800px 0;
		&:hover {
			background-position: -800px -200px;
		}
	}

	&-instagram {
		background-position: -1000px 0;
		&:hover {
			background-position: -1000px -200px;
		}
	}
	&-linkedin {
		background-position: -1200px 0;
		&:hover {
			background-position: -1200px -200px;
		}
	}
	&-twitter {
		background-position: -1400px 0;
		&:hover {
			background-position: -1400px -200px;
		}
	}
}





















.list {
	background-position: 0 0;
	
	
}

.list-green{
	background-position: 0 -150px;
	
	
}

.mail {
	background-position: -150px 0;
	width: 148px;
	
}

.mail-blue{
	background-position: -150px -150px;
	width: 148px;
	
}

.plus {
	background-position: -300px 0;
	
	
}

.plus-green{
	background-position: -300px -150px;
	
	
}

.share-blue{
	background-position: -450px 0;
	
	
}

.share {
	background-position: -450px -150px;
	
	
}

.x {
	background-position: -600px 0;
	
	
}

.x-green{
	background-position: -600px -150px;
	
	
}

.Slide_Left_grey{
	background-position: -600px -300px;
	width: 92px;
	
}

.Slide_Left_white{
	background-position: -600px -450px;
	width: 92px;
	
}

.Slide_Right_grey{
	background-position: -700px -300px;
	width: 92px;
	
}

.Slide_Right_white{
	background-position: -700px -450px;
	width: 92px;
	
}

