.styleguide {

    .nav-links {

        font-family: Raleway-Medium, sans-serif;
        font-size: 12px;
        text-transform: uppercase;

        a {

            font-style: italic;
        }
    }
}