.what-we-do {

	.tabs-content h2, .about-slider h2 {

		padding: 20px 0 40px;
	}

	.wwd-tabs {


		.tabs {

			border-top: 1px solid $green;
			border-bottom: 1px solid $green;
		}

		.tab-title {
		
			& > a {

				color: black;
				font-family: Raleway-Medium,sans-serif;
				font-size: 1em;
				letter-spacing: 0.56em;
				padding: 30px 0 30px 0;

				&:hover {

					color: $green;
					font-style: italic;
				}
			}

			text-transform: uppercase;
			width: 33%;	
			@media (min-width: 1024px) { 
				
				&.tab-1 {

					width: 21%;
				}
				&.tab-2 {

					width: 16%; 
				}
				&.tab-3 {

					width: 29%;
				}
				&.tab-4 {

					width: 23%;
				}
				&.tab-5 {

					width: 0%;
				}
			}
		}

		.tabs-content .wrapper {
		
			@include flexbox(flex-start,space-between);
			flex-wrap: wrap;
		}

		h3 {

			margin-bottom: 20px;
		}

	}

	.orbit-wrapper, .auto {
		
		margin: 0 auto;
	}
}

.tabs-content {

	.content.active {

		float: left;
	}

	.tab_1_title {

		border-bottom: 1px solid $green;

		h2 {

			color: $green;
		}
	}
	.tab_2_title {

		border-bottom: 1px solid $purple;

		h2 {

			color: $purple;
		}
	}
	.tab_3_title {

		border-bottom: 1px solid $pink;

		h2 {

			color: $pink;
		}
	}
	.tab_4_title {

		border-bottom: 1px solid $blue;

		h2 {

			color: $blue;
		}
	}
	.tab_5_title {

		border-bottom: 1px solid $green;

		h2 {

			color: $green;
		}
	}	
}