@import "colors";
@import "mixins";
@import "sprites";
@import "viewport";

@import "settings";
@import "foundation";
@import "fonts";
@import "nav";
@import "forms";
@import "home";
@import "main";
	@import "people-news";
	@import "projects";
	@import "wwd";
@import "footer";

@import "sidecar";
@import "custom";

body, p {

	font-family: Raleway-Medium, sans-serif;
	letter-spacing: 0.04em;
}

a {

	color: $green;
}

h1, h2, h3, h4, h5, h6 {
		
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.row {

	margin-bottom: 20px;

	.navigation & {

		margin-bottom: 0;
	}
}

