@import "colors";
@import "mixins";
@import "sprites";

@import "settings";
@import "foundation";
@import "foundation/components/tabs";
@import "hendershot";

@import "fonts";
@import "nav";
@import "main";
	@import "forms";
	@import "wwd";
@import "footer";
@import "home";

@import "styleguide";

body, p {

	font-family: Raleway-Medium, sans-serif;
	letter-spacing: 0.04em;
}

a {

	color: $green;
}

h1, h2, h3, h4, h5, h6 {
		
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.row {

	margin-bottom: 20px;

	.navigation & {

		margin-bottom: 0;
	}
}

.email-address {

	unicode-bidi:bidi-override;
	direction: rtl;
}